[Unit]
Description=Team Speak 3 Server
After=network.target

[Service]
WorkingDirectory=/opt/Teamspeak/
User=teamspeak
Type=forking
ExecStart=/opt/Teamspeak/ts3server_startscript.sh start inifile=/opt/Teamspeak/ts3server.ini
ExecStop=/opt/Teamspeak/ts3server_startscript.sh stop
PIDFile=/opt/Teamspeak/ts3server.pid
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target